.monaco-editor .suggest-widget .monaco-list .monaco-list-row > .contents {
    padding-left: 0px !important;
}

.monaco-editor .suggest-widget .monaco-list .monaco-list-row .suggest-icon {
    font-size: 13px;
    padding: 3px 4px 0 4px;
    align-items: baseline !important;
    background: color-mix(in srgb, currentColor 40%, transparent);
}
