.monaco-editor .suggest-widget .monaco-list .monaco-list-row > .contents {
    padding-left: 0px !important;
}

.monaco-editor .suggest-widget .monaco-list .monaco-list-row .suggest-icon {
    font-size: 13px;
    padding: 3px 4px 0 4px;
    align-items: baseline !important;
}

.monaco-editor .codicon-symbol-array,
.monaco-workbench .codicon.condicon-symbol-array {
    background: var(--relapce-symbolIcon-arrayBackground);
}

.monaco-editor .codicon-symbol-boolean,
.monaco-workbench .codicon.condicon-symbol-boolean {
    background: var(--relapce-symbolIcon-booleanBackground);
}

.monaco-editor .codicon-symbol-class,
.monaco-workbench .codicon.condicon-symbol-class {
    background: var(--relapce-symbolIcon-classBackground);
}

.monaco-editor .codicon-symbol-color,
.monaco-workbench .codicon.condicon-symbol-color {
    background: var(--relapce-symbolIcon-colorBackground);
}

.monaco-editor .codicon-symbol-constant,
.monaco-workbench .codicon.condicon-symbol-constant {
    background: var(--relapce-symbolIcon-constantBackground);
}

.monaco-editor .codicon-symbol-constructor,
.monaco-workbench .codicon.condicon-symbol-constructor {
    background: var(--relapce-symbolIcon-constructorBackground);
}

.monaco-editor .codicon-symbol-enum,
.monaco-workbench .codicon.condicon-symbol-enum {
    background: var(--relapce-symbolIcon-enumeratorBackground);
}

.monaco-editor .codicon-symbol-enumeratorMember,
.monaco-workbench .codicon.condicon-symbol-enumeratorMember {
    background: var(--relapce-symbolIcon-enumeratorMemberBackground);
}

.monaco-editor .codicon-symbol-event,
.monaco-workbench .codicon.condicon-symbol-event {
    background: var(--relapce-symbolIcon-eventBackground);
}

.monaco-editor .codicon-symbol-field,
.monaco-workbench .codicon.condicon-symbol-field {
    background: var(--relapce-symbolIcon-fieldBackground);
}

.monaco-editor .codicon-symbol-file,
.monaco-workbench .codicon.condicon-symbol-file {
    background: var(--relapce-symbolIcon-fileBackground);
}

.monaco-editor .codicon-symbol-folder,
.monaco-workbench .codicon.condicon-symbol-folder {
    background: var(--relapce-symbolIcon-folderBackground);
}

.monaco-editor .codicon-symbol-function,
.monaco-workbench .codicon.condicon-symbol-function {
    background: var(--relapce-symbolIcon-functionBackground);
}

.monaco-editor .codicon-symbol-interface,
.monaco-workbench .codicon.condicon-symbol-interface {
    background: var(--relapce-symbolIcon-interfaceBackground);
}

.monaco-editor .codicon-symbol-key,
.monaco-workbench .codicon.condicon-symbol-key {
    background: var(--relapce-symbolIcon-keyBackground);
}

.monaco-editor .codicon-symbol-keyword,
.monaco-workbench .codicon.condicon-symbol-keyword {
    background: var(--relapce-symbolIcon-keywordBackground);
}

.monaco-editor .codicon-symbol-method,
.monaco-workbench .codicon.condicon-symbol-method {
    background: var(--relapce-symbolIcon-methodBackground);
}

.monaco-editor .codicon-symbol-module,
.monaco-workbench .codicon.condicon-symbol-module {
    background: var(--relapce-symbolIcon-moduleBackground);
}

.monaco-editor .codicon-symbol-namespace,
.monaco-workbench .codicon.condicon-symbol-namespace {
    background: var(--relapce-symbolIcon-namespaceBackground);
}

.monaco-editor .codicon-symbol-null,
.monaco-workbench .codicon.condicon-symbol-null {
    background: var(--relapce-symbolIcon-nullBackground);
}

.monaco-editor .codicon-symbol-number,
.monaco-workbench .codicon.condicon-symbol-number {
    background: var(--relapce-symbolIcon-numberBackground);
}

.monaco-editor .codicon-symbol-object,
.monaco-workbench .codicon.condicon-symbol-object {
    background: var(--relapce-symbolIcon-objectBackground);
}

.monaco-editor .codicon-symbol-operator,
.monaco-workbench .codicon.condicon-symbol-operator {
    background: var(--relapce-symbolIcon-operatorBackground);
}

.monaco-editor .codicon-symbol-package,
.monaco-workbench .codicon.condicon-symbol-package {
    background: var(--relapce-symbolIcon-packageBackground);
}

.monaco-editor .codicon-symbol-property,
.monaco-workbench .codicon.condicon-symbol-property {
    background: var(--relapce-symbolIcon-propertyBackground);
}

.monaco-editor .codicon-symbol-reference,
.monaco-workbench .codicon.condicon-symbol-reference {
    background: var(--relapce-symbolIcon-referenceBackground);
}

.monaco-editor .codicon-symbol-snippet,
.monaco-workbench .codicon.condicon-symbol-snippet {
    background: var(--relapce-symbolIcon-snippetBackground);
}

.monaco-editor .codicon-symbol-string,
.monaco-workbench .codicon.condicon-symbol-string {
    background: var(--relapce-symbolIcon-stringBackground);
}

.monaco-editor .codicon-symbol-struct,
.monaco-workbench .codicon.condicon-symbol-struct {
    background: var(--relapce-symbolIcon-structBackground);
}

.monaco-editor .codicon-symbol-text,
.monaco-workbench .codicon.condicon-symbol-text {
    background: var(--relapce-symbolIcon-textBackground);
}

.monaco-editor .codicon-symbol-typeParameter,
.monaco-workbench .codicon.condicon-symbol-typeParameter {
    background: var(--relapce-symbolIcon-typeParameterBackground);
}

.monaco-editor .codicon-symbol-unit,
.monaco-workbench .codicon.condicon-symbol-unit {
    background: var(--relapce-symbolIcon-unitBackground);
}

.monaco-editor .codicon-symbol-variable,
.monaco-workbench .codicon.condicon-symbol-variable {
    background: var(--relapce-symbolIcon-variableBackground);
}
