.monaco-editor .suggest-widget .monaco-list .monaco-list-row > .contents {
    padding-left: 0px !important;
}

.monaco-editor .suggest-widget .monaco-list .monaco-list-row .suggest-icon {
    font-size: 13px;
    padding: 3px 4px 0 4px;
    align-items: baseline !important;
}

.monaco-editor .codicon-symbol-array,
.monaco-workbench .codicon.condicon-symbol-array,
.monaco-editor .codicon-symbol-boolean,
.monaco-workbench .codicon.condicon-symbol-boolean,
.monaco-editor .codicon-symbol-class,
.monaco-workbench .codicon.condicon-symbol-class,
.monaco-editor .codicon-symbol-color,
.monaco-workbench .codicon.condicon-symbol-color,
.monaco-editor .codicon-symbol-constant,
.monaco-workbench .codicon.condicon-symbol-constant,
.monaco-editor .codicon-symbol-constructor,
.monaco-workbench .codicon.condicon-symbol-constructor,
.monaco-editor .codicon-symbol-enum,
.monaco-workbench .codicon.condicon-symbol-enum,
.monaco-editor .codicon-symbol-enumeratorMember,
.monaco-workbench .codicon.condicon-symbol-enumeratorMember,
.monaco-editor .codicon-symbol-event,
.monaco-workbench .codicon.condicon-symbol-event,
.monaco-editor .codicon-symbol-field,
.monaco-workbench .codicon.condicon-symbol-field,
.monaco-editor .codicon-symbol-file,
.monaco-workbench .codicon.condicon-symbol-file,
.monaco-editor .codicon-symbol-folder,
.monaco-workbench .codicon.condicon-symbol-folder,
.monaco-editor .codicon-symbol-function,
.monaco-workbench .codicon.condicon-symbol-function,
.monaco-editor .codicon-symbol-interface,
.monaco-workbench .codicon.condicon-symbol-interface,
.monaco-editor .codicon-symbol-key,
.monaco-workbench .codicon.condicon-symbol-key,
.monaco-editor .codicon-symbol-keyword,
.monaco-workbench .codicon.condicon-symbol-keyword,
.monaco-editor .codicon-symbol-method,
.monaco-workbench .codicon.condicon-symbol-method,
.monaco-editor .codicon-symbol-module,
.monaco-workbench .codicon.condicon-symbol-module,
.monaco-editor .codicon-symbol-namespace,
.monaco-workbench .codicon.condicon-symbol-namespace,
.monaco-editor .codicon-symbol-null,
.monaco-workbench .codicon.condicon-symbol-null,
.monaco-editor .codicon-symbol-number,
.monaco-workbench .codicon.condicon-symbol-number,
.monaco-editor .codicon-symbol-object,
.monaco-workbench .codicon.condicon-symbol-object,
.monaco-editor .codicon-symbol-operator,
.monaco-workbench .codicon.condicon-symbol-operator,
.monaco-editor .codicon-symbol-package,
.monaco-workbench .codicon.condicon-symbol-package,
.monaco-editor .codicon-symbol-property,
.monaco-workbench .codicon.condicon-symbol-property,
.monaco-editor .codicon-symbol-reference,
.monaco-workbench .codicon.condicon-symbol-reference,
.monaco-editor .codicon-symbol-snippet,
.monaco-workbench .codicon.condicon-symbol-snippet,
.monaco-editor .codicon-symbol-string,
.monaco-workbench .codicon.condicon-symbol-string,
.monaco-editor .codicon-symbol-struct,
.monaco-workbench .codicon.condicon-symbol-struct,
.monaco-editor .codicon-symbol-text,
.monaco-workbench .codicon.condicon-symbol-text,
.monaco-editor .codicon-symbol-typeParameter,
.monaco-workbench .codicon.condicon-symbol-typeParameter,
.monaco-editor .codicon-symbol-unit,
.monaco-workbench .codicon.condicon-symbol-unit,
.monaco-editor .codicon-symbol-variable,
.monaco-workbench .codicon.condicon-symbol-variable {
    background: color-mix(in srgb, currentColor 40%, transparent);
}
