.tab.active {
    border-bottom: 2px solid var(--relapse-accent) !important;
    color: var(--relapse-accent) !important;
    background: inherit !important;
    border-right: 0px solid #0000 !important;

    & + .tab {
        border-left: 1px solid var(--relapse-border) !important;
    }
}

.tab {
    background: inherit !important;
    border-right: 1px solid var(--relapse-border) !important;
    height: 28px !important;
    font-weight: 500;
}
.tabs-container {
    height: auto !important;
}

.tabs-container > .tab .tab-label {
    line-height: 28px !important;
    &::before {
        height: 28px !important;
    }

    &::after {
        height: 28px !important;
    }
}

.monaco-icon-label-container {
    height: 28px !important;
}

.monaco-action-bar .action-item {
    display: flex !important;
}

.editor-group-container
    > .title
    > .tabs-and-actions-container
    > .monaco-scrollable-element {
    margin-block: auto;
}
