.tab.active {
    border-bottom: 2px solid var(--vscode-tab-activeForeground) !important;
    background: inherit !important;
    border-right: 0px solid #0000 !important;
}

.tab.active + .tab {
    border-left: 1px solid var(--vscode-tab-border) !important;
}

.tab {
    background: inherit !important;
    border-right: 1px solid var(--vscode-tab-border) !important;
    height: 28px !important;
    font-weight: 500;
}

.tab .monaco-icon-label {
    color: var(--vscode-tab-inactiveForeground) !important;
}

.tabs-container {
    height: auto !important;
}

.tabs-container > .tab .tab-label {
    line-height: 28px !important;
}

.tabs-container > .tab .tab-label::before {
    height: 28px !important;
}

.tabs-container > .tab .tab-label::after {
    height: 28px !important;
}

.monaco-workbench
    .part.editor
    > .content
    .editor-group-container
    > .title
    > .tabs-and-actions-container.tabs-border-bottom:after {
    display: none !important;
}

.tabs-and-actions-container {
    border-bottom: 1px solid var(--vscode-tab-border);
}

.monaco-icon-label-container {
    height: 28px !important;
}

.editor-group-container
    > .title
    > .tabs-and-actions-container
    > .monaco-scrollable-element {
    margin-block: auto;
}
